* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  background-color: rgb(20, 20, 20);
  color: white;
}
.main-body{
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#logo{
  width: 100px;
  border-radius: 50%;
}
.note{
  color: rgb(2, 198, 2);
}
#registration-form{
  border: 2px solid rgb(74, 74, 74);
  border-radius: 20px;
  background-color: rgb(55, 55, 55);
  width: 400px;
  margin-top: 20px;
  padding: 20px 10px 20px 10px;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}
#registration-form div{
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  background-color: rgb(55, 55, 55);
}
#registration-form div label{
  background-color: rgb(55, 55, 55);
}
#registration-form div label span{
  background-color: rgb(55, 55, 55);
  color: rgb(255, 31, 31);
}
.name-notice{
  font-size: 13px;
}
.error{
  font-size: 13px;
  color: red;
  display: none;
}
.input{
  outline: 0px;
  height: 40px;
  width: 380px;
  border-radius: 5px;
  padding-left: 5px;
  border: 1px solid gray;
}
.field-note{
  color: rgb(254, 38, 38);
  font-size: 13px;
  text-align: center;
}
#registration-mode{
  width: 200px;
  height: 30px;
  border: 1px solid gray;
  outline: none;
  padding: 0 0 0 4px;
}
#submit-button-holder{
  display: flex;
  align-items: center;
}
#submit{
  width: 150px;
  height: 35px;
  border: 0px;
  border-radius: 5px;
  background-color: rgb(19, 19, 168);
  font-size: 20px;
  cursor: pointer;
}
#submit:hover{
  background-color: rgb(25, 25, 206);
}
@media (max-width: 400px){
  #registration-form{
    width: 340px;
  }
  .input{
    width: 320px;
  }
}